In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bank-data-set.zip')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [3]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [4]:
df.drop(['balance', 'contact', 'education', 'day','housing', 'month', 'duration', 'campaign', 'pdays', 'poutcome', 'deposit'], axis=1, inplace=True)

In [5]:
# col = df.select_dtypes('object').columns
# col = col[:-1]
# col = list(col)

In [6]:
# df = pd.get_dummies(df, columns=col, drop_first=True)
# df.head()

In [7]:
df['loan'] = np.where(df['loan'] == 'yes', 1, 0)

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from math import *

In [9]:
X = df.drop('loan', axis=1)
y = df['loan']

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing

In [11]:
# TODO: create a LabelEncoder object and fit it to each feature in X

# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()

# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
X_2 = X.apply(le.fit_transform)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X_2, y, test_size=0.2, random_state=42)

# Decision Tree

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV

In [19]:
dt = DecisionTreeClassifier(class_weight='balanced',criterion='entropy', max_depth=3, min_samples_leaf=5, random_state=42)

In [20]:
dt.fit(X_train, y_train)

DecisionTreeClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [21]:
y_pred = dt.predict(X_test)

In [22]:
accuracy_score(y_test, y_pred)

0.3399014778325123