In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [44]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [45]:
print(train.shape)
train.head()

(54808, 14)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [46]:
print(test.shape)
test.head()

(23490, 13)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [47]:
train['Data'] = 'train'
test['is_promoted'] = np.nan
test['Data'] = 'test'

In [48]:
sub = pd.DataFrame({'employee_id': test['employee_id']})

In [49]:
df = pd.concat([train, test], axis=0)

In [50]:
print(df.shape)
df.head()

(78298, 15)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,Data
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0.0,train
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0.0,train
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0.0,train
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0.0,train
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0.0,train

In [51]:
df.isnull().sum()

employee_id                 0
department                  0
region                      0
education                3443
gender                      0
recruitment_channel         0
no_of_trainings             0
age                         0
previous_year_rating     5936
length_of_service           0
KPIs_met >80%               0
awards_won?                 0
avg_training_score          0
is_promoted             23490
Data                        0
dtype: int64

In [52]:
df['education'].value_counts()

Bachelor's          52247
Master's & above    21429
Below Secondary      1179
Name: education, dtype: int64

In [53]:
df['previous_year_rating'].value_counts()

3.0    26539
5.0    16838
4.0    14126
1.0     8903
2.0     5956
Name: previous_year_rating, dtype: int64

In [54]:
rating_median = df['previous_year_rating'].median()
rating_median

3.0

In [55]:
df['previous_year_rating'].fillna(rating_median, inplace=True)

In [56]:
df['previous_year_rating'].isnull().sum()

0

In [57]:
df['education'].fillna('not mention', inplace=True)

In [58]:
df.isnull().sum()

employee_id                 0
department                  0
region                      0
education                   0
gender                      0
recruitment_channel         0
no_of_trainings             0
age                         0
previous_year_rating        0
length_of_service           0
KPIs_met >80%               0
awards_won?                 0
avg_training_score          0
is_promoted             23490
Data                        0
dtype: int64

In [59]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,Data
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0.0,train
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0.0,train
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0.0,train
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0.0,train
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0.0,train

In [60]:
del df['region']

In [61]:
df['department'].value_counts()

Sales & Marketing    24155
Operations           16112
Procurement          10158
Technology           10149
Analytics             7671
Finance               3627
HR                    3503
Legal                 1484
R&D                   1439
Name: department, dtype: int64

In [62]:
d1 = pd.get_dummies(df['department'], prefix='department', drop_first=True)
d1.head()

,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology
0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1

In [63]:
df['education'].value_counts()

Bachelor's          52247
Master's & above    21429
not mention          3443
Below Secondary      1179
Name: education, dtype: int64

In [64]:
d2 = pd.get_dummies(df['education'], prefix='Education', drop_first=True)
d2.head()

,Education_Below Secondary,Education_Master's & above,Education_not mention
0,0,1,0
1,0,0,0
2,0,0,0
3,0,0,0
4,0,0,0

In [65]:
df['gender'] = np.where(df['gender']=="m", 1, 0)

In [66]:
df.head()

,employee_id,department,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,Data
0,65438,Sales & Marketing,Master's & above,0,sourcing,1,35,5.0,8,1,0,49,0.0,train
1,65141,Operations,Bachelor's,1,other,1,30,5.0,4,0,0,60,0.0,train
2,7513,Sales & Marketing,Bachelor's,1,sourcing,1,34,3.0,7,0,0,50,0.0,train
3,2542,Sales & Marketing,Bachelor's,1,other,2,39,1.0,10,0,0,50,0.0,train
4,48945,Technology,Bachelor's,1,other,1,45,3.0,2,0,0,73,0.0,train

In [67]:
df['recruitment_channel'].value_counts()

other       43524
sourcing    33181
referred     1593
Name: recruitment_channel, dtype: int64

In [68]:
d3 = pd.get_dummies(df['recruitment_channel'], prefix='recruitment_channel', drop_first=True)

In [69]:
df = pd.concat([df, d1, d2, d3], axis=1)
df.drop(['department', 'education', 'recruitment_channel'], axis=1, inplace=True)
df.head()

,employee_id,gender,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,...,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology,Education_Below Secondary,Education_Master's & above,Education_not mention,recruitment_channel_referred,recruitment_channel_sourcing
0,65438,0,1,35,5.0,8,1,0,49,0.0,...,0,0,0,1,0,0,1,0,0,1
1,65141,1,1,30,5.0,4,0,0,60,0.0,...,1,0,0,0,0,0,0,0,0,0
2,7513,1,1,34,3.0,7,0,0,50,0.0,...,0,0,0,1,0,0,0,0,0,1
3,2542,1,2,39,1.0,10,0,0,50,0.0,...,0,0,0,1,0,0,0,0,0,0
4,48945,1,1,45,3.0,2,0,0,73,0.0,...,0,0,0,0,1,0,0,0,0,0

In [70]:
df.shape

(78298, 24)

In [71]:
df.isnull().sum()

employee_id                         0
gender                              0
no_of_trainings                     0
age                                 0
previous_year_rating                0
length_of_service                   0
KPIs_met >80%                       0
awards_won?                         0
avg_training_score                  0
is_promoted                     23490
Data                                0
department_Finance                  0
department_HR                       0
department_Legal                    0
department_Operations               0
department_Procurement              0
department_R&D                      0
department_Sales & Marketing        0
department_Technology               0
Education_Below Secondary           0
Education_Master's & above          0
Education_not mention               0
recruitment_channel_referred        0
recruitment_channel_sourcing        0
dtype: int64

In [72]:
df.dtypes

employee_id                       int64
gender                            int32
no_of_trainings                   int64
age                               int64
previous_year_rating            float64
length_of_service                 int64
KPIs_met >80%                     int64
awards_won?                       int64
avg_training_score                int64
is_promoted                     float64
Data                             object
department_Finance                uint8
department_HR                     uint8
department_Legal                  uint8
department_Operations             uint8
department_Procurement            uint8
department_R&D                    uint8
department_Sales & Marketing      uint8
department_Technology             uint8
Education_Below Secondary         uint8
Education_Master's & above        uint8
Education_not mention             uint8
recruitment_channel_referred      uint8
recruitment_channel_sourcing      uint8
dtype: object

In [74]:
train = df.loc[df['Data']=='train']
del train['Data']
test = df.loc[df['Data'] == 'test']
test.drop(['Data', 'is_promoted'], axis=1, inplace=True)

# Model Building

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [76]:
X = train.drop('is_promoted', axis=1)
Y = train['is_promoted']

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=44)

In [78]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

In [80]:
model =  RandomForestClassifier()
model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

# Randomize Search

In [99]:
params = {'criterion': ['gini', 'entropy'],
          'class_weight': [None, 'balanced'],
          'n_estimators': [50,100,150,200],
          'max_depth': [None,5,6,7,8]
         }
random = RandomizedSearchCV(model, param_distributions=params, cv=5, n_iter=10, random_state=44)
random.fit(X_train, y_train)

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=10,
                                                    n_jobs=None,
                                                    oob_score=False,
                                                    random_state=None,
                                                    verbose=0,
                                                    warm_start=False),
                   iid='warn', n_iter=10, n_jobs=None,
                   param_distributions={'class_weight': [None, 'balanced'],
                                        'criterion': ['gini', 'entropy'],
                                        'max_depth': [None, 5, 6, 7, 8],
                                        'n_estimators': [50, 100, 150, 200]},
                   pre_dispatch='2*n_jobs', random_state=44, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [100]:
random.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=150, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False)

In [101]:
y_pred = random.predict_proba(X_test)[:,1]

In [102]:
cutoffs = np.linspace(0.01,0.99,99)

real = y_test
ks_all = []
acc_all = []
f1_all = []

for cutoff in cutoffs:
    predicted = (y_pred>cutoff).astype(int)
    TP = ((predicted == 1) & (real == 1)).sum()
    FP = ((predicted == 1) & (real == 0)).sum()
    TN = ((predicted == 0) & (real == 0)).sum()
    FN = ((predicted == 0) & (real == 1)).sum()
    
    P = TP+FN
    N = TN+FP
    
    Pr = (TP/(TP+FP))
    Re = (TP/(FN+TP))
    
    KS = (TP/P)-(FP/N)
    acc = (TP+TN)/(P+N)
    f1 = (2*Pr*Re)/(Pr+Re)
    
    ks_all.append(KS)
    acc_all.append(acc)
    f1_all.append(f1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: RuntimeWarning: invalid value encountered in longlong_scalars

In [103]:
max(ks_all)

0.6152242639794507

In [104]:
max(acc_all)

0.9439883232986681

In [105]:
min(f1_all)

0.0071174377224199285

In [106]:
my_cutoff = cutoffs[acc_all == max(acc_all)][0]
my_cutoff

0.51

In [107]:
random.fit(X, Y)

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=10,
                                                    n_jobs=None,
                                                    oob_score=False,
                                                    random_state=None,
                                                    verbose=0,
                                                    warm_start=False),
                   iid='warn', n_iter=10, n_jobs=None,
                   param_distributions={'class_weight': [None, 'balanced'],
                                        'criterion': ['gini', 'entropy'],
                                        'max_depth': [None, 5, 6, 7, 8],
                                        'n_estimators': [50, 100, 150, 200]},
                   pre_dispatch='2*n_jobs', random_state=44, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [108]:
test_pred = random.predict_proba(test)[:,1]
Y_pred = random.predict_proba(X)[:,1]

In [109]:
cutoffs = np.linspace(0.01,0.99,99)

real = Y
ks_all = []
acc_all = []
f1_all = []

for cutoff in cutoffs:
    predicted = (Y_pred>cutoff).astype(int)
    TP = ((predicted == 1) & (real == 1)).sum()
    FP = ((predicted == 1) & (real == 0)).sum()
    TN = ((predicted == 0) & (real == 0)).sum()
    FN = ((predicted == 0) & (real == 1)).sum()
    
    P = TP+FN
    N = TN+FP
    
    Pr = (TP/(TP+FP))
    Re = (TP/(FN+TP))
    
    KS = (TP/P)-(FP/N)
    acc = (TP+TN)/(P+N)
    f1 = (2*Pr*Re)/(Pr+Re)
    
    ks_all.append(KS)
    acc_all.append(acc)
    f1_all.append(f1)

In [110]:
max(acc_all)

1.0

In [111]:
max(ks_all)

1.0

In [112]:
min(f1_all)

0.02412698412698413

In [113]:
my_cutoff = cutoffs[acc_all == max(acc_all)][0]
my_cutoff

0.38

In [114]:
test_pred = (test_pred>my_cutoff).astype(int)

In [115]:
sub = pd.read_csv('sample_submission.csv')
sub['is_promoted'] = test_pred
sub.to_csv('sample_submission.csv', index=False)